@import url(css/tablet.css);
@import url(css/mobile.css);

/** Typography */ 

body {
    font-family: 'Poppins', 'Oswald'
}

/** Layout Rules */
.main__container {
    display: grid;
    width: 95vw;
    border: 1px solid red;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 400px 500px 50px;
    grid-template-areas: 
    "bar bar bar"
    "img img img"
    "ctn1 ctn2 ctn3"
    "ft ft ft";
}

.bar {
    grid-area: bar;
    border: 1px solid red;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    grid-area: img;
    border: 1px solid red;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
}

.ctn__one {
    grid-area: ctn1;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ctn__two {
    grid-area: ctn2;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ctn__three {
    grid-area: ctn3;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer {
    grid-area: ft;
    border: 1px solid red;
    margin: 5px;
}

/** Theme Styling **/

.information__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f4f8f7;
    border-radius: 20px;
    opacity: 0.8;
    width: 30vw;
    height: 50vh;
    margin-left: 80px;
    padding-left: 20px;
}

.header__information {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#cityName {
    padding-left: 10px;
}

#countryName {
    color: #7768E5;
    font-weight: bold;
    font-size: 24px;
}

.current__weather {
    width: 25vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

#forecast__hour {
    font-size: 30px;
}

#forecast__day {
    font-size: 30px;
}

#place__vist {
    font-size: 30px;
}

.forecast__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.forecast__row {
    background-color: #f4f8f7;
    width: 95%;
    height: 100px;
    margin: 10px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 6px 6px 0 rgba(0, 0, 0, 0.05)

}

.temperature__wrapper {
    background-color: #F8Ca4d;
    border-radius: 40px;
    height: 80%;
    display: flex;
    width: 110px;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color: #fff;
}

.day__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.placeholder__box {
    height: 70px;
    border: 1px solid black
}

.current__temperature__wrapper {
    background-color: #F8Ca4d;
    border-radius: 40px;
    height: 100%;
    display: flex;
    width: 110px;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color: #fff;
    margin: 5px;
}

.icon__wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.current__ctn {
    display: none;
}

#current__weather__icon {
    filter: invert(57%) sepia(57%) saturate(6873%) hue-rotate(228deg) brightness(98%) contrast(83%);
}

.forecast__wrapper img {
    filter: invert(57%) sepia(57%) saturate(6873%) hue-rotate(228deg) brightness(98%) contrast(83%);
}